@import 'mixins.scss';
@import 'variables.scss';
@import 'normalize.css';

// ================================================================================================================
// TEXTE
// ================================================================================================================

h1 {
  font-family: $cori;
  font-style: normal;
  font-weight: bold;
  font-size: rem(48);
  line-height: 105%;
  margin: 0;
}

h2 {
  font-family: $cori;
  font-style: normal;
  font-weight: bold;
  font-size: rem(36);
  line-height: 105%;
}

h3 {
  font-family: $roboto;
  font-weight: 700;
  font-size: rem(28);
  line-height: 115%;
}

h4 {
  font-family: $roboto;
  font-weight: 700;
  font-size: rem(18);
  margin-top: rem(24);
  margin-bottom: rem(12);
}

.text {
  line-height: 150%;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  ul {
    padding: 0;

    > li {
      padding-left: rem(21);
      position: relative;
      list-style: none;
      margin-bottom: rem(4);

      &:before {
        content: "";
        background: $blue3h;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        display: block;
        position: absolute;
        top: rem(10);
        left: 0;
      }

      > ul {
        padding-left: rem(20);
        margin-top: rem(8);
      }
    }
  }

  ol {
    padding: 0;

    li {
      list-style-position: inside;
      margin-bottom: rem(4);

      > ol {
        padding-left: rem(20);
        margin-top: rem(8);
      }
    }
  }
}

p, ul, ol {
  margin: 0 0 1rem;
}

a {
  text-decoration: underline;
  color: $blue3h;

  &:visited {
  }

  &:hover, &:active {
    text-decoration: none;
  }
}

ol > li {
}

table {
  tr:first-child {
  }

  tr:nth-child(2n+1) {
  }

  tr:last-child {
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
  /* Remettre actif pour rendre plus vos transition sur image, mis en commentaire pour permettre le border-radius sur les parent d'image 
  -webkit-backface-visibility: hidden; 
  -ms-interpolation-mode: bicubic;*/
}

*:focus {
  outline: 0;
}

.angle {
  &:after {
    content: "\f105";
    display: inline-block;
    font-family: $fa;
    margin-left: rem(10);
    font-weight: 400;
  }
}

.angleDown {
  &:after {
    content: "\f107";
    display: inline-block;
    font-family: $fa;
    margin-left: rem(10);
    font-weight: 400;
  }
}

a.video {
  text-decoration: none;
  padding: rem(11) rem(0) rem(11) rem(52);
  position: relative;
  display: block;
  color: $text;

  &:before {
    content: "\f04b";
    font-family: $fa;
    width: rem(40);
    height: rem(40);
    border-radius: 9999px;
    background: #D8F4F8;
    color: $blue3h;
    font-size: rem(16);
    line-height: 115%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  + a.video {
    margin-top: rem(16);
  }
}

.hidden {
  display: none;
}

.loading {
  @include easeout(1s);

  &.loaded {
    opacity: 0;
  }
}

// ================================================================================================================
// FORMULAIRE
// ================================================================================================================

//Filigrane
::-webkit-input-placeholder {
  color: #FFF;
}

::-moz-placeholder {
  color: #FFF;
}

:-ms-input-placeholder {
  color: #FFF;
}

:-moz-placeholder {
  color: #FFF;
}

// Input
input[type="text"], input[type="number"], input[type="email"], input[type="search"], input[type="tel"], textarea, select {
  width: 100%;
  padding: 0 rem(18);
  height: rem(48);
  border-radius: 6px;
  border: none;
  font-family: Open Sans;
  font-size: rem(16);
  line-height: 150%;

  &:focus {
    outline: 0;
  }

  &.error, &.input-validation-error {
  }

  &:disabled {
  }
}

textarea {
  resize: vertical;
  padding-top: rem(20);
  padding-bottom: rem(20);
}

//Message d'erreur
label.error, .field-validation-error {
  color: $error;
}

.fakeSelect {
  overflow: hidden;
  position: relative;
  border: 1px solid #D1D3D4;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: rem(10) 0;

  select {
    background: transparent;
    border: none;
    width: calc(100% + 30px);
    padding: 0 rem(14);
  }

  &:after {
    content: "\f107";
    font-family: $fa;
    display: block;
    font-size: rem(16);
    position: absolute;
    top: 50%;
    right: rem(16);
    transform: translateY(-50%);
  }

  &.focus {
  }
}

.fakeCheckbox {
  display: flex;
  margin-bottom: rem(12);

  input {
    position: absolute;
    opacity: 0.001;
    //Pas coché
    + span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(20);
      height: rem(20);
      border-radius: 4px;
      background: #00869E;
      margin-right: rem(12);
      position: relative;
      top: rem(2);
    }
    //Pas coché, focus
    &:focus + span {
    }
    //Coché
    &:checked + span {
      background: #FFF;

      &:before {
        content: "\f00c";
        font-family: $fa;
        font-weight: bold;
        display: block;
        color: #00869E;
      }
    }
    //Coché, focus
    &:checked:focus + span {
    }
  }
}

.fakeRadio {
  display: flex;
  align-items: center;

  + .fakeRadio {
    margin-top: rem(11);
  }

  input {
    position: absolute;
    opacity: 0.001;
    //Pas coché
    + .icon {
      width: rem(20);
      height: rem(20);
      border-radius: 9999px;
      display: block;
      border: 1px solid #C1C4C5;
      margin-right: rem(12);
    }

    &:checked + .icon {
      border: 6px solid $blue3;
    }
  }
}

// ================================================================================================================
// BOUTONS
// ================================================================================================================
input[type=submit], input[type=button], .btn, .formSubmit button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: rem(18);
  line-height: 100%;
  color: #FFFFFF;
  padding: rem(13) rem(15);
  border-radius: rem(6);
  background: $blue3;
  border: none;
  transition: all $t1;
  cursor: pointer;
  border: 2px solid $blue3;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  position: relative;

  &:hover {
    outline: 0;
    background: $blue3h;
    border-color: $blue3h;
  }

  &:focus {
    border-color: #00869E;
  }

  &.big {
    padding: rem(19) rem(24);
  }

  &.disabled {
  }

  &.white {
    background: #FFF;
    border-color: #FFF;
    color: #00869E;
  }
  /* Bouton secondaire */
  &.alt {
    background: transparent;
    border: 2px solid $blue3;
    color: $blue3;

    &:hover, &:focus {
    }

    &.disabled {
    }

    &.white {
      border-color: #FFF;
      color: #FFF;
    }
  }

  &.width100 {
    &:after {
      position: absolute;
      right: rem(16);
    }
  }

  &.angle {
    &:after {
      font-size: rem(16);
    }
  }
}

button.link {
  padding: 0;
  background: transparent;
  border: 0;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

/* Transition pour les submits ici (si différente des .btn) */
input[type=submit], input[type=button] {
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  &.input-validation-error {
    + label {
      border-color: $error;
      color: $error;
    }
  }

  + label {
    @include flex(row,nowrap,space-between,stretch,stretch);
    cursor: pointer;
    border: 1px solid $border;
    border-radius: 3px;
    display: flex !important;
    margin-bottom: 0 !important;

    .fileName {
      max-width: 50%;
      display: block;
      font-size: rem(16);
      color: $text;
      font-weight: 400;
      height: 100%;
      padding: rem(7) rem(16);
    }

    .button {
      font-size: rem(16);
      color: $text;
      font-weight: 400;
      min-width: rem(121);
      box-sizing: border-box;
      text-align: center;
      padding: rem(7) rem(12);
      display: block;
      border-left: 1px solid $border;
      background: #FFF;
      border-radius: 0 3px 3px 0;
    }

    * {
      pointer-events: none;
    }
  }

  &:focus + label, + label:hover {
  }
}


// ================================================================================================================
// MISC
// ================================================================================================================
.width100 {
  width: 100%;
}

.height100 {
  height: 100%;
}

div.video {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block;

  &.video-16x9 {
    padding-bottom: 56.25%;
  }

  &.video-4x3 {
    padding-bottom: 75%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.invert {
  color: #FFFFFF;
  background: $c1;
}

.nowrap {
  white-space: nowrap;
}

/* Autres */
::-moz-selection {
  background: $c1;
  color: $text;
  text-shadow: none;
}

::selection {
  background: $c1;
  color: $text;
  text-shadow: none;
}

blockquote {
  position: relative;
  margin: 0 0 rem(30) 0;
  font-style: italic;
  padding: 0 0 0 rem(22);

  &:before {
    content: "\00AB";
    font-size: rem(22);
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1;
  }

  &:after {
    content: "\00BB";
    font-size: rem(22);
    display: inline-block;
    margin-left: 0.5rem;
  }
}

html[lang="fr-CA"] blockquote {
  &:before {
    content: "\00AB";
  }

  &:after {
    content: "\00BB";
  }
}

html[lang="en-CA"] blockquote {
  //A changer
  &:before {
    content: "\00AB";
  }

  &:after {
    content: "\00BB";
  }
}
// ================================================================================================================
// POPIN
// ================================================================================================================
.overlay {
  background: #000;
  background: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;

  &.open {
    display: block;
  }

  .popin {
    @include absoluteCenter;
    background: #FFF;
    max-width: 830px;
    width: 100%;

    .closePopin {
      font-size: 2rem;
      position: absolute;
      bottom: calc(100% + 1rem);
      right: 0;
      border: none;
      background: transparent;
      padding: 0;
      transition: color $t1;
      color: #FFF;
      outline: none;

      &:hover, &:focus {
        opacity: 0.7;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

// ================================================================================================================
// BASE
// ================================================================================================================
html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  color: $text;
  font-size: 16px;
  min-height: 720px;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: $font;
  min-width: 1024px;
  overflow: hidden;
}

#app {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  &.loaded {
    z-index: 1001;
  }
}

.IE11 #app {
  display: block;
}

.wrapAll {
  flex: 1 0 auto;
  width: 100%;
}

.wrapper {
  max-width: 960px;
  padding: 0;
  margin: 0 auto;
}

.tag {
  font-family: $font;
  font-weight: bold;
  font-size: rem(14);
  line-height: 110%;
  display: inline-block;
  letter-spacing: 0.05em;
  padding: rem(8) rem(10);
  text-transform: uppercase;
  border-radius: 4px;

  &.new {
    color: #FFF;
    background: #D0796F;
  }
}

// ================================================================================================================
// PIED DE PAGE
// ================================================================================================================
footer {
  z-index: 1;
  position: relative;
  width: 100%;
  background: rgba(0,0,0,0.2);
  font-size: rem(12);
  padding: rem(16) 0;
  box-sizing: border-box;

  .wrapper {
    @include flex(row,nowrap,space-between,center,center);
  }

  .nmedia {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;

    img {
      max-width: rem(24);
      margin-left: rem(6);
      transition: all, 100ms;
      -webkit-backface-visibility: hidden;
      transform: translateZ(0);
    }

    &:hover {
      img {
        transform: scale(1.2);
        margin-left: rem(9);
      }
    }
  }
}

// ================================================================================================================
// MENU
// ================================================================================================================
#bigMenu {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background: $blue1;
  color: #FFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: rem(16);
  transition: all 1s;
  transition-timing-function: ease-out;

  &.open {
    left: 0;
  }

  .close {
    position: absolute;
    z-index: 1;
    top: em(32,32);
    right: em(32,32);
    width: em(44,32);
    height: em(44,32);
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    transition: opacity $t1;
    color: #FFF;
    font-size: em(32);

    &:hover {
      opacity: 0.5;
    }
  }

  > .left {
    padding: em(56);
    width: percent(1360,1920);
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    > .top {
      padding-bottom: em(56);
    }

    > .bottom {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      flex: 1;

      .angleDown {
        cursor: pointer;
      }

      > .left {
        width: percent(922,1248);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-shrink: 0;

        > div {
          width: 100%;
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: space-between;
          margin-right: em(24);

          &:last-child {
            margin-right: 0;
          }

          > div{
            margin-bottom: em(24);

            &:last-child{
              margin-bottom: 0;
            }
          }
        }
      }

      > .right {
        padding: em(36) em(56);
        width: percent(382,1248);
        flex-shrink: 0;

        .title {
          margin-bottom: rem(20);
        }

        ul {
          padding: 0;
          margin: 0;

          > li {
            list-style: none;
            margin-bottom: em(36);

            > ul {
              padding-left: em(16);
              margin-top: em(20);
              margin-bottom: 0;

              > li {
                margin-bottom: em(4,14);
                font-weight: 600;
                font-size: em(14);
                line-height: 150%;

                &:last-child {
                  margin-bottom: 0;
                }

                > a {
                  text-decoration: underline;
                  color: #FFF;

                  &:hover {
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  > .right {
    width: percent(560,1920);
    position: relative;
    height: 100%;
    padding: em(220) em(56) em(56);
    font-family: Open Sans;
    font-size: em(16);
    line-height: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:before {
      content: "";
      display: block;
      width: percent(373,560);
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(to right, #001024 0%, rgba(0, 16, 36, 0.738) 19%, rgba(0, 16, 36, 0.541) 34%, rgba(0, 16, 36, 0.382) 47%, rgba(0, 16, 36, 0.278) 56.5%, rgba(0, 16, 36, 0.194) 65%, rgba(0, 16, 36, 0.126) 73%, rgba(0, 16, 36, 0.075) 80.2%, rgba(0, 16, 36, 0.042) 86.1%, rgba(0, 16, 36, 0.021) 91%, rgba(0, 16, 36, 0.008) 95.2%, rgba(0, 16, 36, 0.002) 98.2%, transparent 100%);
      opacity: 0.4;
      z-index: -1;
    }

    a {
      color: #FFF;
      font-weight: 700;
      text-decoration: none;
    }

    .title {
      margin-top: em(36,24);
      margin-bottom: rem(16);

      &:first-child {
        margin-top: 0;
      }
    }

    .bulletin {
      display: block;
      background-image: url(../images/bg-bulletin.jpg);
      background-color: $blue3;
      border-radius: 8px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 100% auto;
      padding: em(36);
      margin: em(50) em(0);
      cursor: pointer;

      &:hover {
        text-decoration: none;

        .angle {
          text-decoration: underline;
        }
      }

      .angle {
        padding-top: 25%;
      }
    }

    .links {
      display: flex;
      justify-content: space-between;
      font-family: $roboto;

      a {
        color: $blue3;

        &.lang {
          color: #FFF;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .copyright {
      font-family: $font;
      font-size: em(12);
      line-height: 150%;
      margin-top: em(40,12);
    }
  }

  .sectionTitle {
    font-family: $roboto;
    font-style: normal;
    font-weight: bold;
    font-size: em(28);
    line-height: 115%;
    margin-bottom: em(16,28);

    span {
      color: $blue3;
    }
  }

  .otherSection {
    font-style: normal;
    font-weight: normal;
    font-size: em(16);
    line-height: 150%;

    a {
      color: $blue3;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .title {
    font-family: $roboto;
    font-style: normal;
    font-weight: bold;
    font-size: em(28);
    line-height: 115%;
    margin-bottom: rem(24);
  }

  .category {
    background: $blue2;
    flex-shrink: 0;
    padding: em(36);
    border-radius: 8px;
    transition: all $t2;
    position: relative;
    transition-delay: 0.5s;
    transition-timing-function: ease-out;
    overflow: hidden;
    flex: 1;

    ul {
      padding: 0;

      > li {
        list-style: none;
        font-family: $roboto;
        font-style: normal;
        font-weight: bold;
        font-size: em(18);
        line-height: 112%;
        margin-bottom: em(12,18);

        &:last-child {
          margin-bottom: 0;
        }

        > ul {
          padding-left: em(16);
          margin: 0;
          opacity: 0;
          transition: all $t2;
          transition-delay: 0.5s;
          transition-timing-function: ease-out;

          > li {
            font-style: normal;
            font-weight: 600;
            font-family: $font;
            font-size: 0;
            line-height: 0%;
            margin: 0;
            transition: all $t2;
            transition-delay: 0.5s;
            transition-timing-function: ease-out;

            > a {
              color: #FFF;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .viewAll {
      position: absolute;
      transition: all $t2;
      transition-delay: 0.5s;
      transition-timing-function: ease-out;
      bottom: em(-28);

      a {
        color: $blue3;
        font-weight: bold;
        font-size: em(16);
        line-height: 150%;
        font-family: $font;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #bigMenu .category:hover {
    padding-bottom: em(104);
    flex: 3;

    ul > li > ul {
      margin-top: em(8);
      opacity: 1;

      > li {
        font-size: em(14);
        line-height: 150%;
        margin-bottom: em(4,14);
      }
    }

    .viewAll {
      bottom: em(32);
    }
  }
}

// ================================================================================================================
// HOME
// ================================================================================================================
#app {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00adc4+0,00adc4+17,00224b+83,00224b+100 */
  background: #00adc4; /* Old browsers */
  background: -moz-linear-gradient(left, #00adc4 0%, #00adc4 17%, #00224b 83%, #00224b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00adc4 0%,#00adc4 17%,#00224b 83%,#00224b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00adc4 0%,#00adc4 17%,#00224b 83%,#00224b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adc4', endColorstr='#00224b',GradientType=1 ); /* IE6-9 */
  min-height: 720px;
  min-width: 1024px;
  display: block;
}

.sections {
  border: rem(8) solid #FFF;
  box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
  background: #FFF;
  border-radius: 9999px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: rem(16);
    font-weight: bold;
    font-family: $roboto;
    font-size: rem(16);
    color: #696C74;

    &:hover {
      text-decoration: underline;
    }
  }

  .selected {
    background: linear-gradient(180deg, #00ADC4 0%, #00869E 100%);
    color: #FFF;
    border-radius: 9999px;
  }
}

.home {
  background: #FFF;
  width: 100%;
  height: 100vh;
  padding: 10vh rem(120);
  position: relative;
  z-index: 1;
  min-height: 720px;
  transform: translateY(-100%);
  transition: transform 1.2s;
  transition-timing-function: ease-out;

  &.open {
    transform: none;
    opacity: 1;
  }

  &.loaded {
    transition: none;
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35.6vh;
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, #C4C4C4 100%);
    z-index: -1;
    opacity: 0.35;
  }

  .homeMenu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .sections {
      margin-right: rem(12);
    }

    .btnMenu {
      box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
      background: #FFF;
      border-radius: 9999px;
      font-size: rem(24);
      color: $blue3h;
      border: none;
      width: rem(66);
      cursor: pointer;
      transition: all $t1;

      &:hover {
        background: $blue3;
        color: #FFF;
      }

      i {
        pointer-events: none;
      }
    }
  }
  //Transition
  @media screen and (min-width: 768px) {
    .homeMenu {
      top: rem(-100);
      right: rem(-100);
      @include easeout;
    }

    &.open .homeMenu {
      top: rem(20);
      right: rem(20);
    }
  }

  .homeContent {
    width: percent(1112,1800);
    font-family: $cori;
    font-size: rem(36);
    line-height: 105%;
    color: #696C74;

    .logo {
      width: percent(401,1037);
      margin-bottom: rem(42);
    }

    h1 {
      font-family: $cori;
      font-size: rem(56);
      margin-bottom: rem(20);
      color: $text;
    }
  }
  //Transition
  @media screen and (min-width: 768px) {
    .homeContent {
      opacity: 0;
      transform: translateY(240px);
      @include easeout;
    }

    &.open .homeContent {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .tns-ovh {
    overflow: visible;
  }

  .progress {
    background: #E2E4E4;
    border-radius: 2px;
    height: 6px;
    margin-top: rem(40);
    position: relative;
    overflow: hidden;
    z-index: 1;

    .bar {
      height: 100%;
      background: #696C74;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 2px;
      transition: 0.7s;
      transition-timing-function: ease-out;
    }
  }

  .wrapSlider {
    #tns1-ow {
      margin-top: rem(85);
      position: relative;

      .tns-controls {
        position: absolute;
        top: 50%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        pointer-events: none;
        height: rem(100);
        transform: translateY(-50%);

        button {
          pointer-events: all;
          height: rem(100);
          width: rem(50);
          background: #FFF;
          box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.15);
          border: none;
          font-family: $fa;
          font-size: rem(32);
          color: #9BA1A2;
          transition: all $t1;

          &:first-child {
            border-radius: 0 9999px 9999px 0;
          }

          &:last-child {
            border-radius: 9999px 0 0 9999px;
          }

          &:hover {
            background: $blue3;
            color: #FFF;
          }
        }
      }

      .tns-nav {
        display: none;
      }
    }
  }
  //Transition
  @media screen and (min-width: 768px) {
    .wrapSlider {
      transform: translateY(114px);
      opacity: 0;
      @include easeout(1.2s);

      #tns1-ow .tns-controls {
        width: calc(100% + 30rem);
        left: -15rem;
        @include easeout(1.2s, 1.2s);
      }
    }

    &.open .wrapSlider {
      opacity: 1;
      transform: translateY(0);
      @include easeout(1.2s, 1.2s);

      #tns1-ow .tns-controls {
        width: calc(100% + 15rem); //Padding de la home page
        left: -7.5rem;
      }
    }
  }

  .homeSlider {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    padding: rem(24) 0;
  }

  .homeSlider .tns-item {
    &:nth-child(4n-2) {
      > a {
        &:after {
          background-image: url(../images/shapes/pea-stroke.png);
        }
      }
    }

    &:nth-child(4n-1) {
      > a {
        &:after {
          background-image: url(../images/shapes/bean-stroke.png);
        }
      }
    }

    &:nth-child(4n) {
      > a {
        &:after {
          background-image: url(../images/shapes/peanut-stroke.png);
        }
      }
    }

    &:nth-child(4n-3) {
      > a {
        &:after {
          background-image: url(../images/shapes/tooth-stroke.png);
        }
      }
    }

    &:first-child {
      > a {
        &:after {
          width: rem(156);
          height: rem(175);
          background-image: url(../images/shapes/peanut-blue.png);
          transform: rotate(28.91deg);
          bottom: 12.39%;
          right: -7%;
          left: auto;
        }

        &:before {
          height: rem(92);
          width: rem(82);
          background-image: url(../images/shapes/peanut-blue.png);
          background-size: cover;
          transform: rotate(-88.55deg);
          opacity: 0.7;
          top: 58%;
          left: 36%;
        }

        &:hover:after {
          width: rem(208);
          height: rem(233);
          transform: rotate(35.58deg);
          bottom: 12.39%;
          right: -21%;
          left: auto;
          opacity: 0.2;
        }

        &:hover:before {
          transform: rotate(-119.86deg);
          height: rem(92);
          width: rem(82);
        }
      }
    }

    > a {
      background: #00224b;
      padding: rem(36) rem(130) rem(84) rem(36);
      color: #FFF;
      height: 100%;
      position: relative;
      z-index: 1;
      box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
      border-radius: 8px;
      overflow: hidden;
      transition: all $t2;
      transition-timing-function: ease-out;
      display: block;
      text-decoration: none;
      cursor: pointer;

      &:after {
        content: "";
        display: block;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        transition: $t2;
        transition-timing-function: ease-out;
        opacity: 0.2;
        transform: rotate(121.74deg);
        bottom: -20.61%;
        left: -7%;
        width: rem(139);
        height: rem(152);
      }

      &:before {
        content: "";
        width: 0%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: $t2;
        transition-timing-function: ease-out;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#009db8+0,00224b+74,00224b+100 */
        background: #009db8; /* Old browsers */
        background: -moz-linear-gradient(left, #009db8 0%, #00224b 74%, #00224b 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #009db8 0%,#00224b 74%,#00224b 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #009db8 0%,#00224b 74%,#00224b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      }

      &.light {
        background: #00ADC4;
      }

      .subtitle {
        margin-bottom: rem(12);
        line-height: 112%;
        font-family: $roboto;
      }

      h2 {
        margin: 0 0 rem(8);
        font-family: $roboto;
        font-weight: bold;
        font-size: rem(28);
        line-height: 115%;
      }

      .viewMore {
        position: absolute;
        width: calc(100% - #{rem(72)});
        bottom: rem(36);
        transform: translateY(100px);
        transition: all $t2;
        transition-timing-function: ease-out;
        z-index: 1;

        span {
          color: #FFF;
          text-decoration: none;
          font-weight: bold;

          &.btn {
            color: $blue3h;
          }
        }
      }

      .icon {
        position: absolute;
        right: 0;
        bottom: 10%;
        transform: scale(0.77);
        opacity: 0.3;
        transform-origin: right center;
        transition: $t2;
        transition-timing-function: ease-out;

        &:before {
          content: "";
          display: block;
          mix-blend-mode: color;
          background: #00224B;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 1;
          transition: $t2;
          transition-timing-function: ease-out;
        }
      }

      .tag {
        margin-top: rem(16);
      }

      &:hover {
        height: calc(100% + #{rem(48)});
        transform: translateY(rem(-24));

        &:before {
          width: 100%;
        }

        &:after {
          opacity: 0.6;
          transform: rotate(94.34deg);
          bottom: -16.61%;
          left: -5%;
        }

        .icon {
          transform: none;
          opacity: 1;

          &:before {
            opacity: 0;
          }
        }

        .viewMore {
          transform: none;
        }
      }
    }
  }
  //Transition
  @media screen and (min-width: 768px) {
    .homeImages {
      opacity: 0.0001;
      @include easeout;
    }

    &.open .homeImages {
      opacity: 1;
    }
  }

  #tns2-ow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: percent(880,1920);
    overflow: hidden;

    .tns-controls, .tns-nav {
      display: none;
    }
  }

  .visual {
    z-index: -1;
    @include easeout;

    &.visual-pea {
      position: absolute;
      width: percent(158.3, 1920);
      height: percent(141.48, 1003);
      right: percent(812.27, 1920);
      top: percent(325.63, 1003);
      opacity: 0;
      transform: rotate(127.7deg) scale(0.1,-0.1);
    }

    &.visual-tooth {
      position: absolute;
      width: percent(306.33, 1920);
      height: percent(342.75, 1003);
      right: percent(894.41, 1920);
      top: percent(788.65, 1003);
      opacity: 0;
      transform: rotate(134.96deg);
    }

    &.visual-peanut {
      position: absolute;
      width: percent(267.19, 1920);
      height: percent(298.95, 1003);
      right: percent(882.64, 1920);
      top: percent(-395.54, 1003);
      opacity: 0;
      transform: rotate(30.8deg);
    }
  }

  &.open .visual {
    &.visual-pea {
      position: absolute;
      width: percent(158.3, 1920);
      height: percent(141.48, 1003);
      right: percent(812.27, 1920);
      top: percent(325.63, 1003);
      transform: rotate(127.7deg) scale(1,-1);
      opacity: 1;
    }

    &.visual-tooth {
      position: absolute;
      width: percent(306.33, 1920);
      height: percent(342.75, 1003);
      right: percent(884.49, 1920);
      top: percent(382.79, 1003);
      transform: rotate(74.61deg);
      opacity: 0.4;
    }

    &.visual-peanut {
      position: absolute;
      width: percent(267.19, 1920);
      height: percent(298.95, 1003);
      right: percent(761.26, 1920);
      top: percent(-117.21,1003);
      opacity: 0.8;
      transform: rotate(74.61deg);
    }
  }
}

.details {
  overflow: hidden;
  height: 100%;
  transition: transform 1.2s;
  transition-timing-function: ease-out;
  position: relative;

  &.open {
    transform: translateY(-100%);
    z-index: 1002;
  }
}

header {
  padding: rem(20);
  background: #FFF;
  width: 100%;
  box-shadow: 0 0 10px 24px rgba(0,0,0,0.07);
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  height: rem(106);

  > .left {
    display: flex;
    align-items: center;
    align-content: center;

    .btn {
      margin-left: rem(48);
    }
  }

  > .right {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .logo {
    max-width: rem(177);
    margin-right: rem(70);
    margin-left: rem(10);
    cursor: pointer;
  }

  .infos {
    margin-right: rem(36);

    .label {
      text-transform: uppercase;
      font-family: Roboto;
      font-weight: bold;
      font-size: rem(14);
      line-height: 100%;
      letter-spacing: 0.05em;
      margin-bottom: rem(8);
    }

    .value {
      color: #696C74;
      font-family: Open Sans;
      font-size: rem(14);
      line-height: 150%;

      a {
        font-weight: 600;
        text-decoration: underline;
        color: #696C74;
        cursor: pointer;

        &:hover{
          text-decoration: none;
        }
      }
    }
  }

  .sectionLinks {
    padding: rem(8);
    border-radius: 9999px;
    overflow: hidden;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    display: flex;

    a {
      display: block;
      padding: rem(16);
      font-family: Roboto;
      font-weight: bold;
      font-size: rem(16);
      text-decoration: none;

      &.selected {
        background: linear-gradient(180deg, #00ADC4 0%, #00869E 100%);
        border-radius: 9999px;
        color: #FFF;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .btnMenu {
    width: rem(64);
    height: rem(64);
    border-radius: 9999px;
    overflow: hidden;
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00869E;
    font-size: rem(24);
    margin-left: rem(12);
    cursor: pointer;
  }
}

.main {
  height: calc(100% - 106px);
  width: 100%;
  display: flex;
  flex: 1;
  position: relative;
  z-index: 1;

  &:before {
    content: "";
    display: block;
    background-image: url(../images/shapes/peanut-blue-stroke.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    width: rem(517.66);
    height: rem(579.2);
    right: rem(-50);
    top: rem(-130);
    opacity: 0;
    transform: rotate(-132.65deg);
    z-index: -1;
    @include easeout;
  }

  &:after {
    content: "";
    display: block;
    background-image: url(../images/shapes/tooth-blue.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    width: rem(451.1);
    height: rem(504.73);
    left: rem(125);
    bottom: rem(-120);
    opacity: 0;
    transform: rotate(-60.66deg);
    z-index: -1;
    @include easeout;
  }
}

.leftMenu {
  width: 240px;
  background: #FFF;
  flex-shrink: 0;
  position: relative;
  z-index: 2;

  ul {
    padding: 0;
    margin: 0;
    background: $blue3;

    li {
      list-style: none;
      position: relative;
      min-height: 8px;
      overflow: hidden;
      transition: all 1s;
      transition-timing-function: ease-out;

      &:before {
        content: "";
        display: block;
        background: #FFF;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 1s;
        transition-timing-function: ease-out;
      }

      a {
        color: #696C74;
        padding: rem(27) rem(32);
        font-family: Roboto;
        font-weight: bold;
        font-size: rem(18);
        display: block;
        z-index: 1;
        position: relative;
        text-decoration: none;
        transition: all 1s;
        transition-timing-function: ease-out;
        cursor: pointer;
      }

      &.selected {
        pointer-events: none;

        &:before {
          width: 0;
        }

        a {
          color: #FFF;
        }

        + li {
          border-radius: 0 8px 0 0;
        }
      }

      &.rounded {
        border-radius: 0 0 8px 0;
      }
    }
  }
}
//Transition
@media screen and (min-width: 768px) {
  .leftMenu {
    transform: translateX(-50%);
    transition: transform 1.2s;
    transition-timing-function: ease-out;
  }

  .details.open {
    .leftMenu {
      transform: none;
    }

    .main:before {
      right: rem(-20);
      top: rem(-100);
      transform: rotate(-102.65deg);
      opacity: 0.3;
    }

    .main:after {
      left: rem(155);
      bottom: rem(-90);
      transform: rotate(-90.66deg);
      opacity: 0.3;
    }
  }
}

.wrapSection {
  display: none;
  width: 100%;
  opacity: 0;
  transition: opacity 1.2s;
  top: 0;
  left: 0;
  position: relative;

  &.fadeOut {
    display: block;
    opacity: 0;
    position: absolute;
  }

  &.fadeIn {
    opacity: 0;
    display: block;
  }

  &.open {
    display: block;
    opacity: 1;
    z-index: 1;
  }
}

.wrapContent {
  padding: rem(96) rem(120);
  max-width: 1440px;
  overflow: auto;
  height: 100%;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  scrollbar-width: none;

  > div {
    position: relative;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .mainSection {
    font-family: $roboto;
    font-size: rem(20);
    line-height: 115%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: rem(12);
  }

  .mainTitle {
    font-family: $cori;
    font-weight: 700;
    font-size: rem(48);
    line-height: 105%;
    color: #FFF;
    margin-bottom: rem(56);
  }

  .content {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: rem(96);

    > div {
      width: 100%;
      margin-right: rem(24);

      &:last-child{
        margin-right: 0;
      }
    }
  }
}
//Transition
@media screen and (min-width:768px) {
  .wrapContent {
    opacity: 0;
    transform: translateY(50%);
    transition: all 1.2s;
    transition-timing-function: ease-out;
  }

  .details.open {
    .wrapContent {
      transform: none;
      opacity: 1;
    }
  }
}

.detailsImgs{
  position: absolute;
  top: 50%;
  right: 0;
  width: rem(444);
  height: rem(560);
  transform: translateY(-50%);

  img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    @include easeout;

    &.open{
      opacity: 1;
    }
  }
}

.block {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  margin-bottom: rem(24);
}

.block {
  .blockHeader {
    padding: rem(36);
    background: $blue1;
    color: #FFF;
    font-family: $roboto;
    font-weight: 700;
    font-size: rem(28);
    line-height: 115%;

    .suptitle {
      font-family: $roboto;
      font-weight: 400;
      font-size: rem(16);
      line-height: 112%;
      margin-bottom: rem(8);

      + h3 {
        margin-top: 0;
      }
    }

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .blockContent {
    background: #FFF;
    padding: rem(36);

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .radioList {
    margin-top: rem(24);
  }

  .btn {
    margin-top: rem(36);
    width: 100%;
    text-align: center;
    position: relative;
    display: block;

    &.angle:after {
      position: absolute;
      right: rem(21);
    }
  }

  .otherOption {
    text-align: center;
    margin-top: rem(12);
  }

  .extra {
    background: #ECEEEE;
    padding: rem(36) rem(82) rem(36) rem(36);
    position: relative;

    .close {
      position: absolute;
      top: rem(36);
      right: rem(36);
      color: #696C74;
      font-size: rem(18);
      transition: all $t1;
      transition-timing-function: ease-out;
      cursor: pointer;
      border: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}


.block.outil {
  .blockHeader {
    background: $blue3;
  }
}

.block.financing {
  ul {
    padding: 0;

    li {
      list-style: none;
      font-family: $roboto;
      font-weight: bold;
      font-size: rem(18);
      line-height: 112%;
      margin-bottom: rem(8);
    }
  }
}

.block.guide {
  min-height: rem(267);
  background: $blue1;
  position: relative;
  padding: rem(36);
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  .title {
    font-family: $roboto;
    font-weight: 700;
    font-size: rem(28);
    line-height: 115%;
    padding-right: percent(270,516);
  }

  .link {
    font-family: Open Sans;
    font-weight: 700;
    font-size: rem(16);
    line-height: 150%;

    a {
      color: #FFF;
      text-decoration: none;
    }
  }

  .img {
    position: absolute;
    width: percent(200,588);
    height: percent(213,267);
    background: $blue3;
    bottom: 0;
    right: rem(36);
    z-index: -1;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.block.links {
  .text ul {
    li {
      padding-left: 0;
      font-weight: bold;

      &:before {
        display: none;
      }

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.block.news {
  padding-left: rem(56);
  position: relative;

  .bar {
    position: absolute;
    left: 0;
    width: rem(56);
    text-align: center;
    background: #D0796F;
    height: 100%;
    font-family: $roboto;
    font-weight: bold;
    font-size: rem(20);
    line-height: rem(56);
    letter-spacing: 0.1em;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-transform: uppercase;
  }

  .blockContent {
    background: #F0E4DD;

    a {
      font-weight: 700;
      color: #D0796F;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.block.quote {
  background: #F0E4DD;
  padding: rem(42) rem(48);
  font-size: rem(28);
  position: relative;
  font-family: $roboto;

  &:before {
    content: "«";
    color: #D0796F;
    font-size: rem(62);
    font-weight: bold;
    position: absolute;
    left: rem(-7);
    top: rem(42);
  }

  &:after {
    content: "»";
    color: #D0796F;
    font-size: rem(62);
    font-weight: bold;
    position: absolute;
    right: rem(-7);
    bottom: rem(96);
  }

  .text {
    line-height: 115%;
  }

  .source {
    font-size: rem(16);
    margin-top: rem(16);

    a {
      color: #D0796F;
    }
  }
}

.block.sections {
  .blockContent {
    padding: 0;

    > a {
      display: block;
      padding: rem(32) rem(36);
      text-decoration: none;
      font-weight: 700;
      font-family: $roboto;

      &:nth-child(2n) {
        background: #ECEEEE;
      }

      .name {
        font-size: rem(18);
        line-height: 112%;
        color: $text;
        margin-bottom: rem(4);
      }

      .angle {
        line-height: 150%;
      }
    }
  }
}

.block.tutorials {
  .link {
    margin-top: rem(36);
    font-weight: 700;

    a {
      text-decoration: none;
    }
  }
}

#contactPanel {
  background: $blue2;
  color: #FFF;
  height: 100%;
  max-width: 560px;
  padding: rem(56);
  position: absolute;
  z-index: 10001;
  right: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  transform: translateX(100%);
  transition: all $t2;
  transition-timing-function: ease-out;
  scrollbar-width: none;

  &.open {
    transform: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  h2 {
    margin-top: 0;
  }
}

#bulletinPanel {
  background: $blue3;
  color: #FFF;
  height: 100%;
  max-width: 560px;
  padding: rem(56);
  position: absolute;
  z-index: 10001;
  right: 0;
  top: 0;
  width: 100%;
  overflow: auto;
  transform: translateX(100%);
  transition: all $t2;
  transition-timing-function: ease-out;
  scrollbar-width: none;

  &.open {
    transform: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .suptitle {
    font-family: Roboto;
    font-weight: 700;
    font-size: rem(16);
    line-height: 115%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: rem(12);
  }

  h2 {
    margin-top: 0;
  }

  .formRow {
    margin-bottom: rem(20);

    .formItem {
      label {
        font-family: $font;
        font-weight: 700;
        font-size: rem(16);
        line-height: 150%;
        margin-bottom: rem(12);
        display: flex;
        align-items: flex-start;

        &.fakeCheckbox {
          font-weight: 400;
        }
      }

      input {
        background: #00869E;
      }
    }
  }

  .notice {
    font-size: rem(14);
    margin-top: rem(48);
  }

  .formActions {
    margin-top: rem(28);
  }
}

.formRow {
  display: flex;
  margin-bottom: rem(16);

  .formItem {
    width: 100%;
    margin-right: rem(12);

    &:last-child{
      margin-right: 0;
    }

    label {
      display: block;
      font-family: Open Sans;
      font-size: rem(14);
      line-height: 150%;
      margin-bottom: rem(6);
    }

    input, textarea {
      background: $blue1;
      color: #FFF;
    }

    textarea {
      height: rem(288);
    }
  }
}

.formActions {
  margin-top: rem(44);
  display: flex;

  > button {
    width: 100%;
    flex: 1;
    margin-right: rem(24);

    &[type="submit"] {
      flex: 2;
    }

    &:last-child{
      margin-right: 0;
    }
  }
}

@import 'mediaQueries.scss';
