@charset "UTF-8";
@import url(normalize.css);
@font-face {
  font-family: 'corisandebold';
  src: url("../fonts/corisande-bold-webfont.woff2") format("woff2"), url("../fonts/corisande-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-family: "corisandebold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  line-height: 105%;
  margin: 0; }

h2 {
  font-family: "corisandebold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 105%; }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 115%; }

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem; }

.text {
  line-height: 150%; }
  .text > :first-child {
    margin-top: 0; }
  .text > :last-child {
    margin-bottom: 0; }
  .text ul {
    padding: 0; }
    .text ul > li {
      padding-left: 1.3125rem;
      position: relative;
      list-style: none;
      margin-bottom: 0.25rem; }
      .text ul > li:before {
        content: "";
        background: #00869E;
        width: 4px;
        height: 4px;
        border-radius: 4px;
        display: block;
        position: absolute;
        top: 0.625rem;
        left: 0; }
      .text ul > li > ul {
        padding-left: 1.25rem;
        margin-top: 0.5rem; }
  .text ol {
    padding: 0; }
    .text ol li {
      list-style-position: inside;
      margin-bottom: 0.25rem; }
      .text ol li > ol {
        padding-left: 1.25rem;
        margin-top: 0.5rem; }

p, ul, ol {
  margin: 0 0 1rem; }

a {
  text-decoration: underline;
  color: #00869E; }
  a:hover, a:active {
    text-decoration: none; }

img {
  vertical-align: middle;
  max-width: 100%;
  /* Remettre actif pour rendre plus vos transition sur image, mis en commentaire pour permettre le border-radius sur les parent d'image 
  -webkit-backface-visibility: hidden; 
  -ms-interpolation-mode: bicubic;*/ }

*:focus {
  outline: 0; }

.angle:after {
  content: "\f105";
  display: inline-block;
  font-family: "Font Awesome 5 Pro";
  margin-left: 0.625rem;
  font-weight: 400; }

.angleDown:after {
  content: "\f107";
  display: inline-block;
  font-family: "Font Awesome 5 Pro";
  margin-left: 0.625rem;
  font-weight: 400; }

a.video {
  text-decoration: none;
  padding: 0.6875rem 0rem 0.6875rem 3.25rem;
  position: relative;
  display: block;
  color: #231F20; }
  a.video:before {
    content: "\f04b";
    font-family: "Font Awesome 5 Pro";
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    background: #D8F4F8;
    color: #00869E;
    font-size: 1rem;
    line-height: 115%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  a.video + a.video {
    margin-top: 1rem; }

::-webkit-input-placeholder {
  color: #FFF; }

::-moz-placeholder {
  color: #FFF; }

:-ms-input-placeholder {
  color: #FFF; }

:-moz-placeholder {
  color: #FFF; }

input[type="text"], input[type="number"], input[type="email"], input[type="search"], input[type="tel"], textarea, select {
  width: 100%;
  padding: 0 1.125rem;
  height: 3rem;
  border-radius: 6px;
  border: none;
  font-family: Open Sans;
  font-size: 1rem;
  line-height: 150%; }
  input[type="text"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="tel"]:focus, textarea:focus, select:focus {
    outline: 0; }

textarea {
  resize: vertical;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem; }

label.error, .field-validation-error {
  color: #e10a00; }

.fakeSelect {
  overflow: hidden;
  position: relative;
  border: 1px solid #D1D3D4;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 0.625rem 0; }
  .fakeSelect select {
    background: transparent;
    border: none;
    width: calc(100% + 30px);
    padding: 0 0.875rem; }
  .fakeSelect:after {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    display: block;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.fakeCheckbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.75rem; }
  .fakeCheckbox input {
    position: absolute;
    opacity: 0.001; }
    .fakeCheckbox input + span {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 4px;
      background: #00869E;
      margin-right: 0.75rem;
      position: relative;
      top: 0.125rem; }
    .fakeCheckbox input:checked + span {
      background: #FFF; }
      .fakeCheckbox input:checked + span:before {
        content: "\f00c";
        font-family: "Font Awesome 5 Pro";
        font-weight: bold;
        display: block;
        color: #00869E; }

.fakeRadio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .fakeRadio + .fakeRadio {
    margin-top: 0.6875rem; }
  .fakeRadio input {
    position: absolute;
    opacity: 0.001; }
    .fakeRadio input + .icon {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 9999px;
      display: block;
      border: 1px solid #C1C4C5;
      margin-right: 0.75rem; }
    .fakeRadio input:checked + .icon {
      border: 6px solid #00ADC4; }

input[type=submit], input[type=button], .btn, .formSubmit button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 100%;
  color: #FFFFFF;
  padding: 0.8125rem 0.9375rem;
  border-radius: 0.375rem;
  background: #00ADC4;
  border: none;
  -webkit-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  cursor: pointer;
  border: 2px solid #00ADC4;
  text-decoration: none;
  /* Bouton secondaire */ }
  input[type=submit]:hover, input[type=button]:hover, .btn:hover, .formSubmit button:hover {
    outline: 0;
    background: #00869E;
    border-color: #00869E; }
  input[type=submit]:focus, input[type=button]:focus, .btn:focus, .formSubmit button:focus {
    border-color: #00869E; }
  input[type=submit].big, input[type=button].big, .btn.big, .formSubmit button.big {
    padding: 1.1875rem 1.5rem; }
  input[type=submit].white, input[type=button].white, .btn.white, .formSubmit button.white {
    background: #FFF;
    border-color: #FFF;
    color: #00869E; }
  input[type=submit].alt, input[type=button].alt, .btn.alt, .formSubmit button.alt {
    background: transparent;
    border: 2px solid #00ADC4;
    color: #00ADC4; }
    input[type=submit].alt.white, input[type=button].alt.white, .btn.alt.white, .formSubmit button.alt.white {
      border-color: #FFF;
      color: #FFF; }

/* Transition pour les submits ici (si différente des .btn) */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
  .inputfile.input-validation-error + label {
    border-color: #e10a00;
    color: #e10a00; }
  .inputfile + label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    cursor: pointer;
    border: 1px solid #cfcfd3;
    border-radius: 3px;
    display: flex !important;
    margin-bottom: 0 !important; }
    .inputfile + label .fileName {
      max-width: 50%;
      display: block;
      font-size: 1rem;
      color: #231F20;
      font-weight: 400;
      height: 100%;
      padding: 0.4375rem 1rem; }
    .inputfile + label .button {
      font-size: 1rem;
      color: #231F20;
      font-weight: 400;
      min-width: 7.5625rem;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      padding: 0.4375rem 0.75rem;
      display: block;
      border-left: 1px solid #cfcfd3;
      background: #FFF;
      border-radius: 0 3px 3px 0; }
    .inputfile + label * {
      pointer-events: none; }

.width100 {
  width: 100%; }

.height100 {
  height: 100%; }

div.video {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block; }
  div.video.video-16x9 {
    padding-bottom: 56.25%; }
  div.video.video-4x3 {
    padding-bottom: 75%; }
  div.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.invert {
  color: #FFFFFF;
  background: #000; }

.nowrap {
  white-space: nowrap; }

/* Autres */
::-moz-selection {
  background: #000;
  color: #231F20;
  text-shadow: none; }

::selection {
  background: #000;
  color: #231F20;
  text-shadow: none; }

blockquote {
  position: relative;
  margin: 0 0 1.875rem 0;
  font-style: italic;
  padding: 0 0 0 1.375rem; }
  blockquote:before {
    content: "\00AB";
    font-size: 1.375rem;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 1; }
  blockquote:after {
    content: "\00BB";
    font-size: 1.375rem;
    display: inline-block;
    margin-left: 0.5rem; }

html[lang="fr-CA"] blockquote:before {
  content: "\00AB"; }

html[lang="fr-CA"] blockquote:after {
  content: "\00BB"; }

html[lang="en-CA"] blockquote:before {
  content: "\00AB"; }

html[lang="en-CA"] blockquote:after {
  content: "\00BB"; }

.overlay {
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none; }
  .overlay.open {
    display: block; }
  .overlay .popin {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #FFF;
    max-width: 830px;
    width: 100%; }
    .overlay .popin .closePopin {
      font-size: 2rem;
      position: absolute;
      bottom: calc(100% + 1rem);
      right: 0;
      border: none;
      background: transparent;
      padding: 0;
      -webkit-transition: color 0.25s;
      -o-transition: color 0.25s;
      transition: color 0.25s;
      color: #FFF;
      outline: none; }
      .overlay .popin .closePopin:hover, .overlay .popin .closePopin:focus {
        opacity: 0.7;
        cursor: pointer;
        outline: none; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  color: #231F20;
  font-size: 16px;
  min-height: 720px; }

body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Open Sans", sans-serif;
  min-width: 1280px; }

#app {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.IE11 #app {
  display: block; }

.wrapAll {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  width: 100%; }

.wrapper {
  max-width: 960px;
  padding: 0;
  margin: 0 auto; }

footer {
  z-index: 1;
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  font-size: 0.75rem;
  padding: 1rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  footer .nmedia {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase; }
    footer .nmedia img {
      max-width: 1.5rem;
      margin-left: 0.375rem;
      -webkit-transition: all, 100ms;
      -o-transition: all, 100ms;
      transition: all, 100ms;
      -webkit-backface-visibility: hidden;
      -webkit-transform: translateZ(0);
      transform: translateZ(0); }
    footer .nmedia:hover img {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      margin-left: 0.5625rem; }

#menu {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00224B;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1rem; }
  #menu .close {
    position: absolute;
    z-index: 1;
    top: 1em;
    right: 1em;
    width: 1.375em;
    height: 1.375em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    color: #FFF;
    font-size: 2em; }
    #menu .close:hover {
      opacity: 0.5; }
  #menu > .left {
    padding: 3.5em;
    width: 70.83333%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #menu > .left > .top {
      padding-bottom: 3.5em; }
    #menu > .left > .bottom {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      #menu > .left > .bottom > .left {
        width: 73.87821%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        gap: 1.5em;
        -ms-flex-negative: 0;
        flex-shrink: 0; }
        #menu > .left > .bottom > .left > div {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          gap: 1.5em; }
      #menu > .left > .bottom > .right {
        padding: 2.25em 3.5em;
        width: 30.60897%;
        -ms-flex-negative: 0;
        flex-shrink: 0; }
        #menu > .left > .bottom > .right ul {
          padding: 0;
          margin: 0; }
          #menu > .left > .bottom > .right ul > li {
            list-style: none;
            margin-bottom: 2.25em; }
            #menu > .left > .bottom > .right ul > li > ul {
              padding-left: 1em;
              margin-top: 1.25em;
              margin-bottom: 0; }
              #menu > .left > .bottom > .right ul > li > ul > li {
                margin-bottom: 0.28571em;
                font-weight: 600;
                font-size: 0.875em;
                line-height: 150%; }
                #menu > .left > .bottom > .right ul > li > ul > li:last-child {
                  margin-bottom: 0; }
                #menu > .left > .bottom > .right ul > li > ul > li > a {
                  text-decoration: underline; }
                  #menu > .left > .bottom > .right ul > li > ul > li > a:hover {
                    text-decoration: none; }
  #menu > .right {
    width: 29.16667%;
    position: relative;
    height: 100%;
    padding: 13.75em 3.5em 3.5em;
    font-family: Open Sans;
    font-size: 1em;
    line-height: 150%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    #menu > .right:before {
      content: "";
      display: block;
      width: 66.60714%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: -webkit-gradient(linear, left top, right top, from(#001024), color-stop(19%, rgba(0, 16, 36, 0.738)), color-stop(34%, rgba(0, 16, 36, 0.541)), color-stop(47%, rgba(0, 16, 36, 0.382)), color-stop(56.5%, rgba(0, 16, 36, 0.278)), color-stop(65%, rgba(0, 16, 36, 0.194)), color-stop(73%, rgba(0, 16, 36, 0.126)), color-stop(80.2%, rgba(0, 16, 36, 0.075)), color-stop(86.1%, rgba(0, 16, 36, 0.042)), color-stop(91%, rgba(0, 16, 36, 0.021)), color-stop(95.2%, rgba(0, 16, 36, 0.008)), color-stop(98.2%, rgba(0, 16, 36, 0.002)), to(transparent));
      background: -webkit-linear-gradient(left, #001024 0%, rgba(0, 16, 36, 0.738) 19%, rgba(0, 16, 36, 0.541) 34%, rgba(0, 16, 36, 0.382) 47%, rgba(0, 16, 36, 0.278) 56.5%, rgba(0, 16, 36, 0.194) 65%, rgba(0, 16, 36, 0.126) 73%, rgba(0, 16, 36, 0.075) 80.2%, rgba(0, 16, 36, 0.042) 86.1%, rgba(0, 16, 36, 0.021) 91%, rgba(0, 16, 36, 0.008) 95.2%, rgba(0, 16, 36, 0.002) 98.2%, transparent 100%);
      background: -o-linear-gradient(left, #001024 0%, rgba(0, 16, 36, 0.738) 19%, rgba(0, 16, 36, 0.541) 34%, rgba(0, 16, 36, 0.382) 47%, rgba(0, 16, 36, 0.278) 56.5%, rgba(0, 16, 36, 0.194) 65%, rgba(0, 16, 36, 0.126) 73%, rgba(0, 16, 36, 0.075) 80.2%, rgba(0, 16, 36, 0.042) 86.1%, rgba(0, 16, 36, 0.021) 91%, rgba(0, 16, 36, 0.008) 95.2%, rgba(0, 16, 36, 0.002) 98.2%, transparent 100%);
      background: linear-gradient(to right, #001024 0%, rgba(0, 16, 36, 0.738) 19%, rgba(0, 16, 36, 0.541) 34%, rgba(0, 16, 36, 0.382) 47%, rgba(0, 16, 36, 0.278) 56.5%, rgba(0, 16, 36, 0.194) 65%, rgba(0, 16, 36, 0.126) 73%, rgba(0, 16, 36, 0.075) 80.2%, rgba(0, 16, 36, 0.042) 86.1%, rgba(0, 16, 36, 0.021) 91%, rgba(0, 16, 36, 0.008) 95.2%, rgba(0, 16, 36, 0.002) 98.2%, transparent 100%);
      opacity: 0.4;
      z-index: -1; }
    #menu > .right a {
      color: #FFF;
      font-weight: 700; }
    #menu > .right .title {
      margin-top: 1.5em; }
      #menu > .right .title:first-child {
        margin-top: 0; }
    #menu > .right .bulletin {
      display: block;
      background-image: url(../images/bg-bulletin.jpg);
      background-color: #00ADC4;
      border-radius: 8px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-size: 100% auto;
      padding: 2.25em;
      margin: 3.125em 0em; }
      #menu > .right .bulletin:hover {
        text-decoration: none; }
      #menu > .right .bulletin .angle {
        padding-top: 25%; }
    #menu > .right .links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-family: "Roboto", sans-serif; }
      #menu > .right .links a {
        color: #00ADC4; }
        #menu > .right .links a.lang {
          color: #FFF; }
    #menu > .right .copyright {
      font-family: "Open Sans", sans-serif;
      font-size: 0.75em;
      line-height: 150%;
      margin-top: 3.33333em; }
  #menu .sectionTitle {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 115%;
    margin-bottom: 0.57143em; }
    #menu .sectionTitle span {
      color: #00ADC4; }
  #menu .otherSection {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 150%; }
    #menu .otherSection a {
      color: #00ADC4;
      font-weight: bold; }
  #menu .title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.75em;
    line-height: 115%;
    margin-bottom: 1.5rem; }
  #menu .category {
    background: #003D85;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 2.25em;
    border-radius: 8px;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #menu .category:hover {
      padding-bottom: 6.5em;
      -webkit-box-flex: 3;
      -ms-flex: 3;
      flex: 3; }
      #menu .category:hover ul > li > ul {
        margin-top: 0.5em;
        opacity: 1; }
        #menu .category:hover ul > li > ul > li {
          font-size: 0.875em;
          line-height: 150%;
          margin-bottom: 0.28571em; }
      #menu .category:hover .viewAll {
        bottom: 2em; }
    #menu .category ul {
      padding: 0; }
      #menu .category ul > li {
        list-style: none;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 1.125em;
        line-height: 112%;
        margin-bottom: 0.66667em; }
        #menu .category ul > li:last-child {
          margin-bottom: 0; }
        #menu .category ul > li > ul {
          padding-left: 1em;
          margin: 0;
          opacity: 0;
          -webkit-transition: all 0.5s;
          -o-transition: all 0.5s;
          transition: all 0.5s;
          -webkit-transition-delay: 0.5s;
          -o-transition-delay: 0.5s;
          transition-delay: 0.5s; }
          #menu .category ul > li > ul > li {
            font-style: normal;
            font-weight: 600;
            font-family: "Open Sans", sans-serif;
            font-size: 0;
            line-height: 0%;
            margin: 0;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transition-delay: 0.5s;
            -o-transition-delay: 0.5s;
            transition-delay: 0.5s; }
            #menu .category ul > li > ul > li > a {
              color: #FFF;
              text-decoration: underline; }
              #menu .category ul > li > ul > li > a:hover {
                text-decoration: none; }
    #menu .category .viewAll {
      position: absolute;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transition-delay: 0.5s;
      -o-transition-delay: 0.5s;
      transition-delay: 0.5s;
      bottom: -1.75em; }
      #menu .category .viewAll a {
        color: #00ADC4;
        font-weight: bold;
        font-size: 1em;
        line-height: 150%;
        font-family: "Open Sans", sans-serif; }

#app {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00adc4+0,00adc4+17,00224b+83,00224b+100 */
  background: #00adc4;
  /* Old browsers */
  background: -moz-linear-gradient(left, #00adc4 0%, #00adc4 17%, #00224b 83%, #00224b 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00adc4 0%, #00adc4 17%, #00224b 83%, #00224b 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#00adc4), color-stop(17%, #00adc4), color-stop(83%, #00224b), to(#00224b));
  background: -o-linear-gradient(left, #00adc4 0%, #00adc4 17%, #00224b 83%, #00224b 100%);
  background: linear-gradient(to right, #00adc4 0%, #00adc4 17%, #00224b 83%, #00224b 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adc4', endColorstr='#00224b',GradientType=1 );
  /* IE6-9 */ }

header {
  padding: 1.25rem;
  background: #FFF;
  width: 100%;
  -webkit-box-shadow: 0 0 10px 24px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 10px 24px rgba(0, 0, 0, 0.07);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  height: 6.625rem; }
  header > .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
    header > .left .btn {
      margin-left: 3rem; }
  header > .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  header .logo {
    max-width: 11.0625rem;
    margin-right: 4.375rem;
    margin-left: 0.625rem; }
  header .infos {
    margin-right: 2.25rem; }
    header .infos .label {
      text-transform: uppercase;
      font-family: Roboto;
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 100%;
      letter-spacing: 0.05em;
      margin-bottom: 0.5rem; }
    header .infos .value {
      color: #696C74;
      font-family: Open Sans;
      font-size: 0.875rem;
      line-height: 150%; }
      header .infos .value a {
        font-weight: 600;
        text-decoration: underline; }
  header .sectionLinks {
    padding: 0.5rem;
    border-radius: 9999px;
    overflow: hidden;
    -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    header .sectionLinks a {
      display: block;
      padding: 1rem;
      font-family: Roboto;
      font-weight: bold;
      font-size: 1rem;
      text-decoration: none; }
      header .sectionLinks a.selected {
        background: -webkit-gradient(linear, left top, left bottom, from(#00ADC4), to(#00869E));
        background: -webkit-linear-gradient(top, #00ADC4 0%, #00869E 100%);
        background: -o-linear-gradient(top, #00ADC4 0%, #00869E 100%);
        background: linear-gradient(180deg, #00ADC4 0%, #00869E 100%);
        border-radius: 9999px;
        color: #FFF; }
        header .sectionLinks a.selected:hover {
          text-decoration: none; }
  header .btnMenu {
    width: 4rem;
    height: 4rem;
    border-radius: 9999px;
    overflow: hidden;
    -webkit-box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.18);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #00869E;
    font-size: 1.5rem;
    margin-left: 0.75rem; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: calc(100% - 106px);
  width: 100%; }

.leftMenu {
  width: 240px;
  background: #FFF;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .leftMenu ul {
    padding: 0;
    margin: 0;
    background: #00ADC4; }
    .leftMenu ul li {
      list-style: none;
      position: relative;
      min-height: 8px;
      overflow: hidden;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s; }
      .leftMenu ul li:before {
        content: "";
        display: block;
        background: #FFF;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
      .leftMenu ul li a {
        color: #696C74;
        padding: 1.6875rem 2rem;
        font-family: Roboto;
        font-weight: bold;
        font-size: 1.125rem;
        display: block;
        z-index: 1;
        position: relative;
        text-decoration: none;
        -webkit-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s; }
      .leftMenu ul li.selected:before {
        width: 0; }
      .leftMenu ul li.selected a {
        color: #FFF; }
      .leftMenu ul li.selected + li {
        border-radius: 0 8px 0 0; }

.wrapContent {
  padding-top: 6rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  max-width: 1440px;
  overflow: auto;
  height: 100%;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  .wrapContent::-webkit-scrollbar {
    display: none; }
  .wrapContent .mainSection {
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    line-height: 115%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 0.75rem; }
  .wrapContent .mainTitle {
    font-family: "corisandebold", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 105%;
    color: #FFF;
    margin-bottom: 3.5rem; }
  .wrapContent .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    gap: 1.5rem;
    padding-bottom: 6rem; }
    .wrapContent .content > div {
      width: 100%; }

.block {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.5rem; }

.block .blockHeader {
  padding: 2.25rem;
  background: #00224B;
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 115%; }
  .block .blockHeader .suptitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 112%;
    margin-bottom: 0.5rem; }
    .block .blockHeader .suptitle + h3 {
      margin-top: 0; }
  .block .blockHeader > :first-child {
    margin-top: 0; }
  .block .blockHeader > :last-child {
    margin-bottom: 0; }

.block .blockContent {
  background: #FFF;
  padding: 2.25rem; }
  .block .blockContent > :first-child {
    margin-top: 0; }
  .block .blockContent > :last-child {
    margin-bottom: 0; }

.block .radioList {
  margin-top: 1.5rem; }

.block .btn {
  margin-top: 2.25rem;
  width: 100%;
  text-align: center;
  position: relative;
  display: block; }
  .block .btn.angle:after {
    position: absolute;
    right: 1.3125rem; }

.block .otherOption {
  text-align: center;
  margin-top: 0.75rem; }

.block .extra {
  background: #ECEEEE;
  padding: 2.25rem 5.125rem 2.25rem 2.25rem;
  position: relative; }
  .block .extra .close {
    position: absolute;
    top: 2.25rem;
    right: 2.25rem;
    color: #696C74;
    font-size: 1.125rem;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
    border: none; }
    .block .extra .close:hover {
      opacity: 0.7; }

.block.outil .blockHeader {
  background: #00ADC4; }

.block.financing ul {
  padding: 0; }
  .block.financing ul li {
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 112%;
    margin-bottom: 0.5rem; }

.block.guide {
  min-height: 16.6875rem;
  background: #00224B;
  position: relative;
  padding: 2.25rem;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .block.guide .title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 115%; }
  .block.guide .link {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 1rem;
    line-height: 150%; }
    .block.guide .link a {
      color: #FFF;
      text-decoration: none; }
  .block.guide .img {
    position: absolute;
    width: 34.01361%;
    height: 79.77528%;
    background: #00ADC4;
    bottom: 0;
    right: 2.25rem; }
    .block.guide .img img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%; }

.block.links .text ul li {
  padding-left: 0;
  font-weight: bold; }
  .block.links .text ul li:before {
    display: none; }
  .block.links .text ul li a {
    text-decoration: none; }
    .block.links .text ul li a:hover {
      text-decoration: underline; }

.block.news {
  padding-left: 3.5rem;
  position: relative; }
  .block.news .bar {
    position: absolute;
    left: 0;
    width: 3.5rem;
    text-align: center;
    background: #D0796F;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 3.5rem;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    text-transform: uppercase; }
  .block.news .blockContent {
    background: #F0E4DD; }
    .block.news .blockContent a {
      font-weight: 700;
      color: #D0796F;
      text-decoration: none; }
      .block.news .blockContent a:hover {
        text-decoration: underline; }

.block.quote {
  background: #F0E4DD;
  padding: 2.625rem 3rem;
  font-size: 1.75rem;
  line-height: 115%;
  position: relative;
  font-family: "Roboto", sans-serif; }
  .block.quote:before {
    content: "«";
    color: #D0796F;
    font-size: 3.875rem;
    font-weight: bold;
    position: absolute;
    left: -0.4375rem;
    top: 2.625rem; }
  .block.quote:after {
    content: "»";
    color: #D0796F;
    font-size: 3.875rem;
    font-weight: bold;
    position: absolute;
    right: -0.4375rem;
    bottom: 6rem; }
  .block.quote .source {
    font-size: 1rem;
    margin-top: 1rem; }
    .block.quote .source a {
      color: #D0796F; }

.block.sections .blockContent {
  padding: 0; }
  .block.sections .blockContent > a {
    display: block;
    padding: 2rem 2.25rem;
    text-decoration: none;
    font-weight: 700;
    font-family: "Roboto", sans-serif; }
    .block.sections .blockContent > a:nth-child(2n) {
      background: #ECEEEE; }
    .block.sections .blockContent > a .name {
      font-size: 1.125rem;
      line-height: 112%;
      color: #231F20;
      margin-bottom: 0.25rem; }
    .block.sections .blockContent > a .angle {
      line-height: 150%; }

.block.tutorials .link {
  margin-top: 2.25rem;
  font-weight: 700; }
  .block.tutorials .link a {
    text-decoration: none; }

.contactPanel {
  background: #003D85;
  color: #FFF;
  height: 100%;
  max-width: 560px;
  padding: 3.5rem;
  position: absolute;
  z-index: 1001;
  right: 0;
  width: 100%;
  overflow: auto; }
  .contactPanel::-webkit-scrollbar {
    display: none; }
  .contactPanel h2 {
    margin-top: 0; }

.bulletinPanel {
  background: #00ADC4;
  color: #FFF;
  height: 100%;
  max-width: 560px;
  padding: 3.5rem;
  position: absolute;
  z-index: 1001;
  right: 0;
  width: 100%;
  overflow: auto; }
  .bulletinPanel::-webkit-scrollbar {
    display: none; }
  .bulletinPanel .suptitle {
    font-family: Roboto;
    font-weight: 700;
    font-size: 1rem;
    line-height: 115%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 0.75rem; }
  .bulletinPanel h2 {
    margin-top: 0; }
  .bulletinPanel .formRow {
    margin-bottom: 1.25rem; }
    .bulletinPanel .formRow .formItem label {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 1rem;
      line-height: 150%;
      margin-bottom: 0.75rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .bulletinPanel .formRow .formItem label.fakeCheckbox {
        font-weight: 400; }
    .bulletinPanel .formRow .formItem input {
      background: #00869E; }
  .bulletinPanel .notice {
    font-size: 0.875rem;
    margin-top: 3rem; }
  .bulletinPanel .formActions {
    margin-top: 1.75rem; }

.formRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1rem; }
  .formRow .formItem {
    width: 100%; }
    .formRow .formItem label {
      display: block;
      font-family: Open Sans;
      font-size: 0.875rem;
      line-height: 150%;
      margin-bottom: 0.375rem; }
    .formRow .formItem input, .formRow .formItem textarea {
      background: #00224B;
      color: #FFF; }
    .formRow .formItem textarea {
      height: 18rem; }

.formActions {
  margin-top: 2.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem; }
  .formActions > button {
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .formActions > button[type="submit"] {
      -webkit-box-flex: 2;
      -ms-flex: 2;
      flex: 2; }

@font-face {
  font-family: 'corisandebold';
  src: url("../fonts/corisande-bold-webfont.woff2") format("woff2"), url("../fonts/corisande-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 1680px) {
  .wrapContent {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    max-width: none;
    width: calc(100% - 240px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .wrapContent > * {
      margin: 0 auto;
      max-width: 1200px; } }

@media screen and (max-height: 950px), screen and (max-width: 1860px) {
  #menu {
    font-size: 0.9375rem; }
  #menu .category:hover {
    padding-bottom: 5em; } }

@media screen and (max-height: 900px), screen and (max-width: 1760px) {
  #menu {
    font-size: 0.875rem; } }

@media screen and (max-height: 850px), screen and (max-width: 1560px) {
  #menu {
    font-size: 0.8125rem; } }

@media screen and (max-height: 768px), screen and (max-width: 1350px) {
  #menu {
    font-size: 0.75rem; } }

@media screen and (min-width: 768px) {
  .m {
    display: none !important; }
  a[href^="tel:"] {
    text-decoration: none;
    cursor: default;
    color: inherit;
    pointer-events: none;
    white-space: nowrap; } }

@media screen and (max-width: 767px) {
  .popin {
    width: 90% !important;
    left: 5% !important;
    top: 2.75em !important;
    position: absolute !important;
    height: auto !important; }
  .d {
    display: none !important; }
  html {
    font-size: 32px;
    height: auto;
    min-height: 0; }
  body {
    min-width: 320px; }
  h1 {
    font-size: 1.75rem; }
  h3 {
    font-size: 1.25rem; }
  h4 {
    font-size: 1rem; }
  .text {
    font-size: 0.875rem; }
  a.video:before {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem; }
  header {
    padding: 0;
    height: auto; }
    header .left .logo {
      max-width: 7.375rem;
      margin-left: 1.125rem; }
    header .left .infos, header .left .btn {
      display: none; }
    header .right .sectionLinks {
      display: none; }
    header .right .btnMenu {
      width: 4rem;
      height: 4rem;
      -webkit-box-shadow: none;
      box-shadow: none; }
  .footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer .wrapper .left {
      margin-bottom: 1rem; }
  #app {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #00ADC4), color-stop(71.87%, #00224B));
    background: -webkit-linear-gradient(top, #00ADC4 25%, #00224B 71.87%);
    background: -o-linear-gradient(top, #00ADC4 25%, #00224B 71.87%);
    background: linear-gradient(180deg, #00ADC4 25%, #00224B 71.87%);
    background-attachment: fixed; }
  #menu {
    position: static;
    display: block;
    height: auto;
    font-size: 1rem; }
    #menu > .left {
      width: 100%;
      display: block;
      padding: 1.5rem; }
      #menu > .left > .top {
        padding-bottom: 1.5rem; }
      #menu > .left > .bottom {
        display: block; }
        #menu > .left > .bottom > .left {
          width: 100%;
          display: block;
          gap: 0; }
          #menu > .left > .bottom > .left > div {
            gap: 0; }
        #menu > .left > .bottom > .right {
          width: 100%;
          margin-top: 1.5rem;
          padding: 0; }
          #menu > .left > .bottom > .right > ul > li {
            position: relative; }
            #menu > .left > .bottom > .right > ul > li:last-child {
              margin-bottom: 0; }
            #menu > .left > .bottom > .right > ul > li:after {
              content: "\f067";
              font-family: "Font Awesome 5 Pro";
              font-size: 1.125rem;
              top: 0.125rem;
              right: 0rem;
              display: block;
              position: absolute; }
    #menu > .right {
      width: 100%;
      padding: 1.5rem; }
      #menu > .right:before {
        width: 100%;
        height: 400px;
        background: -webkit-gradient(linear, left top, left bottom, from(#001024), color-stop(19%, rgba(0, 16, 36, 0.738)), color-stop(34%, rgba(0, 16, 36, 0.541)), color-stop(47%, rgba(0, 16, 36, 0.382)), color-stop(56.5%, rgba(0, 16, 36, 0.278)), color-stop(65%, rgba(0, 16, 36, 0.194)), color-stop(73%, rgba(0, 16, 36, 0.126)), color-stop(80.2%, rgba(0, 16, 36, 0.075)), color-stop(86.1%, rgba(0, 16, 36, 0.042)), color-stop(91%, rgba(0, 16, 36, 0.021)), color-stop(95.2%, rgba(0, 16, 36, 0.008)), color-stop(98.2%, rgba(0, 16, 36, 0.002)), to(transparent));
        background: -webkit-linear-gradient(top, #001024 0%, rgba(0, 16, 36, 0.738) 19%, rgba(0, 16, 36, 0.541) 34%, rgba(0, 16, 36, 0.382) 47%, rgba(0, 16, 36, 0.278) 56.5%, rgba(0, 16, 36, 0.194) 65%, rgba(0, 16, 36, 0.126) 73%, rgba(0, 16, 36, 0.075) 80.2%, rgba(0, 16, 36, 0.042) 86.1%, rgba(0, 16, 36, 0.021) 91%, rgba(0, 16, 36, 0.008) 95.2%, rgba(0, 16, 36, 0.002) 98.2%, transparent 100%);
        background: -o-linear-gradient(top, #001024 0%, rgba(0, 16, 36, 0.738) 19%, rgba(0, 16, 36, 0.541) 34%, rgba(0, 16, 36, 0.382) 47%, rgba(0, 16, 36, 0.278) 56.5%, rgba(0, 16, 36, 0.194) 65%, rgba(0, 16, 36, 0.126) 73%, rgba(0, 16, 36, 0.075) 80.2%, rgba(0, 16, 36, 0.042) 86.1%, rgba(0, 16, 36, 0.021) 91%, rgba(0, 16, 36, 0.008) 95.2%, rgba(0, 16, 36, 0.002) 98.2%, transparent 100%);
        background: linear-gradient(to bottom, #001024 0%, rgba(0, 16, 36, 0.738) 19%, rgba(0, 16, 36, 0.541) 34%, rgba(0, 16, 36, 0.382) 47%, rgba(0, 16, 36, 0.278) 56.5%, rgba(0, 16, 36, 0.194) 65%, rgba(0, 16, 36, 0.126) 73%, rgba(0, 16, 36, 0.075) 80.2%, rgba(0, 16, 36, 0.042) 86.1%, rgba(0, 16, 36, 0.021) 91%, rgba(0, 16, 36, 0.008) 95.2%, rgba(0, 16, 36, 0.002) 98.2%, transparent 100%); }
      #menu > .right .bulletin {
        padding: 1.5rem;
        margin: 2.625rem 0; }
    #menu .close {
      width: 1.75rem;
      height: 1.75rem;
      top: 1.125rem;
      right: 1.125rem;
      font-size: 1.75rem; }
    #menu .sectionTitle {
      font-size: 1.25rem; }
    #menu .otherSection a {
      display: block; }
    #menu .category {
      padding: 1.25rem;
      margin-bottom: 0.5rem; }
      #menu .category:after {
        content: "\f067";
        font-family: "Font Awesome 5 Pro";
        font-size: 1.125rem;
        top: 1.3125rem;
        right: 1.5rem;
        display: block;
        position: absolute; }
      #menu .category:hover {
        padding-bottom: 1.25rem; }
        #menu .category:hover:after {
          content: "\f068"; }
      #menu .category ul {
        margin-bottom: 0; }
        #menu .category ul > li {
          font-size: 1rem;
          margin-bottom: 1rem; }
          #menu .category ul > li > ul {
            opacity: 1; }
            #menu .category ul > li > ul > li {
              font-size: 0.875rem;
              line-height: 150%;
              margin-top: 0.75rem; }
      #menu .category .viewAll {
        position: static;
        margin-top: 1.25rem; }
        #menu .category .viewAll a {
          font-size: 0.875rem; }
          #menu .category .viewAll a:after {
            display: none; }
    #menu .title {
      font-size: 1.25rem;
      position: relative;
      padding-right: 3.125rem; }
  .main {
    height: auto;
    display: block; }
  .leftMenu {
    width: 100%;
    overflow: auto; }
    .leftMenu::-webkit-scrollbar {
      display: none; }
    .leftMenu ul {
      background: #FFF;
      padding: 0;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      .leftMenu ul li {
        white-space: nowrap;
        text-align: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin: 0;
        overflow: hidden;
        padding: 0; }
        .leftMenu ul li:empty {
          display: none; }
        .leftMenu ul li a {
          color: #C1C4C5;
          padding: 1rem; }
        .leftMenu ul li.selected a {
          color: #00869E; }
  .wrapContent {
    width: 100%;
    padding: 1.75rem; }
    .wrapContent .mainSection {
      font-size: 0.875rem; }
    .wrapContent .mainTitle {
      font-size: 1.75rem;
      margin-bottom: 1.75rem; }
    .wrapContent .content {
      display: block;
      padding-bottom: 0.75rem; }
  .block .blockHeader {
    padding: 1.25rem; }
    .block .blockHeader .suptitle {
      font-size: 0.875rem;
      margin-bottom: 0.3125rem; }
    .block .blockHeader .title {
      font-size: 1.25rem; }
  .block .blockContent {
    padding: 1.25rem; }
  .block .extra {
    padding: 1.5rem 2.625rem 1.5rem 1.5rem; }
    .block .extra .close {
      top: 0.75rem;
      right: 0.75rem; }
  .block .btn {
    margin-top: 1.25rem; }
  .block.news {
    padding-left: 2.5rem; }
    .block.news .bar {
      width: 2.5rem;
      line-height: 2.5rem;
      font-size: 1rem; }
  .block.sections .blockContent > a {
    padding: 1.25rem; }
    .block.sections .blockContent > a .name {
      font-size: 1rem; }
    .block.sections .blockContent > a .angle {
      font-size: 0.875rem; }
  .block.tutorials .link {
    margin-top: 1.25rem; }
  .block.financing ul li {
    font-size: 1rem; }
  .block.guide {
    min-height: 10rem;
    padding: 1.25rem; }
    .block.guide .title {
      font-size: 1.25rem; }
    .block.guide .link {
      font-size: 0.875rem; }
    .block.guide .img {
      right: 1.25rem; }
  .block.quote {
    padding: 1.25rem 2rem; }
    .block.quote .source {
      font-size: 0.875rem; } }

@media screen and (max-width: 744px) {
  html {
    font-size: 31px; } }

@media screen and (max-width: 720px) {
  html {
    font-size: 30px; } }

@media screen and (max-width: 696px) {
  html {
    font-size: 29px; } }

@media screen and (max-width: 672px) {
  html {
    font-size: 28px; } }

@media screen and (max-width: 648px) {
  html {
    font-size: 27px; } }

@media screen and (max-width: 624px) {
  html {
    font-size: 26px; } }

@media screen and (max-width: 600px) {
  html {
    font-size: 25px; } }

@media screen and (max-width: 576px) {
  html {
    font-size: 24px; } }

@media screen and (max-width: 552px) {
  html {
    font-size: 23px; } }

@media screen and (max-width: 528px) {
  html {
    font-size: 22px; } }

@media screen and (max-width: 504px) {
  html {
    font-size: 21px; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 20px; } }

@media screen and (max-width: 456px) {
  html {
    font-size: 19px; } }

@media screen and (max-width: 432px) {
  html {
    font-size: 18px; } }

@media screen and (max-width: 408px) {
  html {
    font-size: 17px; } }

@media screen and (max-width: 384px) {
  html {
    font-size: 16px; } }

@media screen and (max-width: 360px) {
  html {
    font-size: 15px; } }

@media screen and (max-width: 336px) {
  html {
    font-size: 14px; } }

@media screen and (max-width: 320px) {
  html {
    font-size: 13.328px; } }
