@import 'mixins.scss';
@import 'variables.scss';

$mobileFontSize: 16;

@function em($target, $context: $mobileFontSize) {
  @return ($target / $context) * 1em;
}

@function rem($target, $context: $mobileFontSize) {
  @return ($target / $context) * 1rem;
}

@function percent($elem, $container: 384) {
  @return #{(($elem * 100) / $container) + '%'};
}

@media screen and (max-width: 1680px) {
  .wrapContent {
    padding-left: rem(60);
    padding-right: rem(60);
    max-width: none;
    width: calc(100% - 240px);
    box-sizing: border-box;

    > * {
      margin: 0 auto;
      max-width: 1200px;
    }
  }
}

@media screen and (max-height: 950px) and (min-width: 768px), screen and (max-width: 1860px) and (min-width: 768px) {
  #bigMenu {
    font-size: rem(15);
  }

  #bigMenu .category:hover {
    padding-bottom: 5em;
  }
}

@media screen and (max-height: 900px) and (min-width: 768px), screen and (max-width: 1760px) and (min-width: 768px) {
  #bigMenu {
    font-size: rem(14);
  }
}

@media screen and (max-height: 875px), screen and (max-width: 1660px) {
  .home {
    padding-left: rem(90);
    padding-right: rem(90);
  }

  .home .wrapSlider.loaded #tns1-ow .tns-controls {
    width: calc(100% + 11.25rem); //Padding de la home page
    left: -5.625rem;
  }

  .home .homeContent .logo {
    width: 34%;
  }

  .home .homeContent {
    font-size: 2rem;

    h1 {
      font-size: 3rem;
    }
  }

  .home .homeSlider .tns-item > a {
    padding: 1.75rem 7.625rem 4.75rem 1.75rem;

    h2 {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-height: 850px), screen and (max-width: 1560px) {
  #bigMenu {
    font-size: rem(13);
  }
}

@media screen and (max-height: 768px), screen and (max-width: 1350px) {
  #bigMenu {
    font-size: rem(12);
  }

  .home {
    padding-top: 8vh;
    padding-bottom: 8vh;
  }

  .home .homeContent h1 {
    font-size: 2.5rem;
  }

  .home .homeContent {
    font-size: 1.65rem;
  }

  .home .wrapSlider #tns1-ow {
    margin-top: 4rem;
  }

  .home .homeSlider .tns-item > a {
    padding: 1.5rem 7.25rem 4rem 1.5rem;
  }
}

@media screen and (max-height: 720px), screen and (max-width: 1280px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .m {
    display: none !important;
  }

  a[href^="tel:"] {
    text-decoration: none;
    cursor: default;
    color: inherit;
    pointer-events: none;
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .popin {
    width: 90% !important;
    left: 5% !important;
    top: 2.75em !important;
    position: absolute !important;
    height: auto !important;
  }

  .d {
    display: none !important;
  }

  html {
    font-size: $mobileFontSize * 2px;
    height: auto;
    min-height: 0;
  }

  body {
    min-width: 320px;
  }

  h1 {
    font-size: rem(28);
  }

  h3 {
    font-size: rem(20);
  }

  h4 {
    font-size: rem(16);
  }

  .text {
    font-size: rem(14);
  }

  .btn {
    padding: rem(11) rem(12);
    font-size: rem(14);
  }

  .tag {
    font-size: rem(10);
    padding: 0.25rem 0.5rem;
  }

  a.video:before {
    width: rem(40);
    height: rem(40);
    font-size: rem(16);
  }

  header {
    padding: 0;
    height: rem(72);

    .left {
      .logo {
        max-width: rem(118);
        margin-left: rem(18);
      }

      .infos, .btn {
        display: none;
      }
    }

    .right {
      .sectionLinks {
        display: none;
      }

      .btnMenu {
        width: rem(64);
        height: rem(64);
        box-shadow: none;
      }
    }
  }

  .footer {
    .wrapper {
      @include flex(column,wrap,space-between,center,center);

      .left {
        margin-bottom: 1rem;
      }
    }
  }

  #app {
    background: linear-gradient(180deg, #00ADC4 25%, #00224B 71.87%);
    background-attachment: fixed;
    min-width: 320px;
    min-height: 0;
  }

  #bigMenu {
    position: absolute;
    display: block;
    height: 100%;
    font-size: 1rem;
    overflow: scroll;
    transition-duration: 0.5s;

    > .left {
      width: 100%;
      display: block;
      padding: rem(24);
      height: auto;

      > .top {
        padding-bottom: rem(24);
      }

      > .bottom {
        display: block;

        > .left {
          width: 100%;
          display: block;

          > div {
            margin-right: 0;

            > div:last-child {
              margin-bottom: 1.5em;
            }
          }
        }

        > .right {
          width: 100%;
          margin-top: rem(24);
          padding: 0;

          > ul {
            > li {
              position: relative;
              margin-bottom: 0.25rem;

              > ul {
                font-size: 0;
                line-height: 0%;
                margin: 0;
                transition: all $t2;
                transition-timing-function: ease-out;
              }

              &.open {
                > ul {
                  font-size: inherit;
                  line-height: normal;
                  margin-bottom: 2rem;
                }

                &:after {
                  content: "\f068";
                }
              }

              &:last-child {
                margin-bottom: 0;
              }

              &:after {
                content: "\f067";
                font-family: $fa;
                font-size: rem(18);
                top: rem(2);
                right: rem(0);
                display: block;
                position: absolute;
              }
            }
          }
        }
      }
    }

    > .right {
      width: 100%;
      padding: rem(24);

      &:before {
        width: 100%;
        height: 400px;
        background: linear-gradient(to bottom, #001024 0%, rgba(0, 16, 36, 0.738) 19%, rgba(0, 16, 36, 0.541) 34%, rgba(0, 16, 36, 0.382) 47%, rgba(0, 16, 36, 0.278) 56.5%, rgba(0, 16, 36, 0.194) 65%, rgba(0, 16, 36, 0.126) 73%, rgba(0, 16, 36, 0.075) 80.2%, rgba(0, 16, 36, 0.042) 86.1%, rgba(0, 16, 36, 0.021) 91%, rgba(0, 16, 36, 0.008) 95.2%, rgba(0, 16, 36, 0.002) 98.2%, transparent 100%);
      }

      .bulletin {
        padding: rem(24);
        margin: rem(42) 0;
      }
    }

    .close {
      width: rem(28);
      height: rem(28);
      top: rem(18);
      right: rem(18);
      font-size: rem(28);
    }

    .sectionTitle {
      font-size: rem(20);
    }

    .otherSection a {
      display: block;
    }

    .category {
      padding: rem(20);
      margin-bottom: rem(8);

      &:after {
        content: "\f067";
        font-family: $fa;
        font-size: rem(18);
        top: rem(21);
        right: rem(24);
        display: block;
        position: absolute;
      }

      ul {
        margin-bottom: 0;
        transition-delay: 0s;

        > li {
          transition: all $t2;
          transition-timing-function: ease-in;
          transition-delay: 0s;
          font-size: 0;
          margin: 0;

          > ul {
            opacity: 1;
            padding-left: 1em;
            margin-top: 0;
            transition: margin $t2;
            transition-timing-function: ease-out;
            transition-delay: 0s;

            > li {
              transition: all $t2;
              transition-timing-function: ease-in;
              transition-delay: 0s;
              font-size: 0;
              line-height: 0%;
              margin: 0;
            }
          }
        }
      }

      .viewAll {
        position: static;
        margin-top: 0;
        transition: all $t2;
        transition-timing-function: ease-out;

        a {
          font-size: rem(14);
          text-decoration: none;

          &:after {
            display: none;
          }
        }
      }

      &.open {
        padding-bottom: rem(20);

        &:after {
          content: "\f068";
        }

        ul {
          transition: none;

          > li {
            font-size: rem(16);
            margin-bottom: rem(16);
            transition: all $t2;
            transition-timing-function: ease-out;
            transition-delay: 0s;

            > ul {
              transition: margin $t2;
              transition-timing-function: ease-out;
              transition-delay: 0s;
              margin-top: 0.5rem;

              > li {
                font-size: rem(14);
                line-height: 150%;
                margin-top: rem(12);
                transition: all $t2;
                transition-timing-function: ease-out;
                transition-delay: 0s;
                margin-bottom: 0.28571em;
              }
            }
          }
        }

        .viewAll {
          margin-top: rem(20);
        }
      }
    }

    .title {
      font-size: rem(20);
      position: relative;
      padding-right: rem(50);
    }
  }

  .main {
    height: auto;
    display: block;
  }

  .leftMenu {
    width: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      background: #FFF;
      padding: 0;
      display: inline-flex;

      li {
        white-space: nowrap;
        text-align: center;
        flex-shrink: 0;
        margin: 0;
        overflow: hidden;
        padding: 0;

        &:empty {
          display: none;
        }

        a {
          color: #C1C4C5;
          padding: rem(16);
        }

        &.selected a {
          color: #00869E;
        }
      }
    }
  }

  .wrapContent {
    width: 100%;
    padding: rem(28);

    .mainSection {
      font-size: rem(14);
    }

    .mainTitle {
      font-size: rem(28);
      margin-bottom: rem(28);
    }

    .content {
      display: block;
      padding-bottom: rem(12);
    }
  }

  .block {
    .blockHeader {
      padding: rem(20);

      .suptitle {
        font-size: rem(14);
        margin-bottom: rem(5);
      }

      .title {
        font-size: rem(20);
      }
    }

    .blockContent {
      padding: rem(20);
    }

    .extra {
      padding: rem(24) rem(42) rem(24) rem(24);

      .close {
        top: rem(12);
        right: rem(12);
      }
    }

    .btn {
      margin-top: rem(20);
    }

    &.news {
      padding-left: rem(40);

      .bar {
        width: rem(40);
        line-height: rem(40);
        font-size: rem(16);
      }
    }

    &.sections {
      .blockContent > a {
        padding: 1.25rem;

        .name {
          font-size: rem(16);
        }

        .angle {
          font-size: rem(14);
        }
      }
    }

    &.tutorials {
      .link {
        margin-top: rem(20);
      }
    }

    &.financing ul li {
      font-size: rem(16);
    }

    &.guide {
      min-height: rem(160);
      padding: rem(20);

      .title {
        font-size: rem(20);
      }

      .link {
        font-size: rem(14);
      }

      .img {
        right: rem(20);
      }
    }

    &.quote {
      padding: rem(20) rem(32);

      .source {
        font-size: rem(14);
      }
    }
  }

  .sections {
    border: rem(4) solid #FFF;
    position: absolute;
    left: rem(16);
    bottom: rem(16);

    a {
      padding: rem(12) rem(16);
    }
  }

  .home {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;

    .homeMenu {
      display: none;
    }

    .homeContent {
      width: percent(311,411);
      font-size: rem(22);
      line-height: 105%;
      padding-top: rem(68);
      padding-left: rem(28);

      .logo {
        display: none;
      }

      h1 {
        font-size: rem(28);
      }
    }

    #tns2-ow {
      width: percent(188,411);
      right: rem(-24);
      top: rem(72);
    }

    .wrapSlider {
      padding-left: rem(28);

      #tns1-ow {
        width: percent(307,383);
        margin-top: 1rem;

        .tns-controls {
          display: none;
        }
      }
    }

    .homeSlider .tns-item {
      &:first-child {
        > a:after {
          width: rem(95);
          height: rem(106.42);
          bottom: 19.39%;
          right: -4%;
        }

        > a:before {
          width: rem(37.62);
          height: rem(42.12);
          transform: rotate(-119.86deg);
          top: 47%;
          left: 48%;
        }

        > a:hover:after {
          width: rem(105);
          height: rem(116.42);
          bottom: 17.39%;
          right: -4%;
        }

        > a:hover:before {
          width: rem(37.62);
          height: rem(42.12);
          transform: rotate(-99.86deg);
          top: 50%;
          left: 46%;
        }
      }

      > a {
        padding: rem(24);
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        &:after {
          width: rem(104.64);
          height: rem(114.38);
        }

        > div:first-child {
          padding-right: rem(50);
        }

        .subtitle {
          font-size: rem(12);
          margin-bottom: rem(8);
        }

        h2 {
          font-size: rem(18);
        }

        .tag {
          margin-top: 0;
        }

        .viewMore {
          position: static;
          transform: none;
          width: 100%;
          margin-top: 1rem;

          .angleDown {
            font-size: rem(14);
          }
        }

        .icon {
          transform: scale(0.6);
          bottom: 0;
        }

        &:hover {
          height: 100%;
          transform: none;

          .icon {
            transform: scale(0.675);
          }
        }
      }
    }

    .progress {
      margin-top: 0;
      width: calc(100% - 1.75rem);
    }

    .visual {
      z-index: -1;

      &.visual-pea {
        position: absolute;
        width: rem(80.96);
        height: rem(72.35);
        right: 2rem;
        top: 14.5rem;
        opacity: 0;
        transform: rotate(127.7deg) scale(0.1,-0.1);
      }

      &.visual-tooth {
        position: absolute;
        width: percent(306.33, 1920);
        height: percent(342.75, 1003);
        right: percent(894.41, 1920);
        top: percent(788.65, 1003);
        opacity: 0;
        transform: rotate(134.96deg);
      }

      &.visual-peanut {
        position: absolute;
        width: rem(120);
        height: rem(134.27);
        right: 10.6375rem;
        top: -4.8rem;
        opacity: 0;
        transform: rotate(30.8deg);
      }

      &.loaded {
        &.visual-pea {
          position: absolute;
          width: rem(80.96);
          height: rem(72.35);
          right: 2rem;
          top: 14.5rem;
          transform: rotate(127.7deg) scale(1,-1);
          opacity: 1;
        }

        &.visual-tooth {
          position: absolute;
          width: rem(194.81);
          height: rem(217.98);
          right: -1rem;
          top: 17rem;
          transform: rotate(74.61deg);
          opacity: 0.4;
        }

        &.visual-peanut {
          position: absolute;
          width: rem(120);
          height: rem(134.27);
          right: 8.6375rem;
          top: 0.8rem;
          opacity: 0.8;
          transform: rotate(74.61deg);
        }
      }
    }
  }
}

@media screen and (max-width:744px) {
  html {
    font-size: $mobileFontSize * 1.9375px;
  }
}

@media screen and (max-width:720px) {
  html {
    font-size: $mobileFontSize * 1.875px;
  }
}

@media screen and (max-width:696px) {
  html {
    font-size: $mobileFontSize * 1.8125px;
  }
}

@media screen and (max-width:672px) {
  html {
    font-size: $mobileFontSize * 1.75px;
  }
}

@media screen and (max-width:648px) {
  html {
    font-size: $mobileFontSize * 1.6875px;
  }
}

@media screen and (max-width:624px) {
  html {
    font-size: $mobileFontSize * 1.625px;
  }
}

@media screen and (max-width:600px) {
  html {
    font-size: $mobileFontSize * 1.5625px;
  }
}

@media screen and (max-width:576px) {
  html {
    font-size: $mobileFontSize * 1.5px;
  }
}

@media screen and (max-width:552px) {
  html {
    font-size: $mobileFontSize * 1.4375px;
  }
}

@media screen and (max-width:528px) {
  html {
    font-size: $mobileFontSize * 1.375px;
  }
}

@media screen and (max-width:504px) {
  html {
    font-size: $mobileFontSize * 1.3125px;
  }
}

@media screen and (max-width:480px) {
  html {
    font-size: $mobileFontSize * 1.25px;
  }
}

@media screen and (max-width:456px) {
  html {
    font-size: $mobileFontSize * 1.1875px;
  }
}

@media screen and (max-width:432px) {
  html {
    font-size: $mobileFontSize * 1.125px;
  }
}

@media screen and (max-width:408px) {
  html {
    font-size: $mobileFontSize * 1.0625px;
  }
}

@media screen and (max-width:384px) {
  html {
    font-size: $mobileFontSize * 1px;
  }
}

@media screen and (max-width:360px) {
  html {
    font-size: $mobileFontSize * 0.9375px;
  }
}

@media screen and (max-width:336px) {
  html {
    font-size: $mobileFontSize * 0.875px;
  }
}

@media screen and (max-width:320px) {
  html {
    font-size: $mobileFontSize * 0.833px;
  }
}
